<br><br><br>
<div [style.marginLeft]="marginLeft">
    <div class="container">
        <div class = "title-table">Pratiche avviate</div>
        <app-aleph-table [tableData]="data" [tableColumns]="customersTableColumns" [listActions]="listActions"
            tableCase="general" [isFilterable]="true" [isPageable]="true" [paginationSizes]="[5,10]" 
            (viewAction) = "viewMethod($event)"
            (deleteAction) = "deleteMethod($event)"
            [defaultPageSize]="5"></app-aleph-table>
    </div>
</div>