<div class="centraleform">
    <br />
    <div class="container">
        <div class="formboxpanelportal">
            <div class="central">
                <mat-accordion class="accordion">
                    <mat-expansion-panel class="accordion" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span class="material-icons">
                                    support_agent
                                </span>
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>
                            Costruisci il tuo form indicane il nome, l'azienda e il flusso di riferimento, l'immagine,
                            l'header e i campi che lo costituiscono.
                            Per ogni campo definiscine nome, tipologia ed eventuale obbligatorietà.
                            Nel caso di campi di tipo select definisci le opzioni che andranno a popolare il relativo
                            manu a tendina.
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
                <br />

                <form [formGroup]="form" class="form_container">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nome">Nome form</label>
                            <input formControlName="nome" type="text" id="nome" class="form-control" required />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="azienda">Azienda</label>
                            <select id="azienda" class="form-control" formControlName="azienda" required>
                                <option></option>
                                <option *ngFor="let azienda of aziende" label="{{azienda.nome}}">{{azienda.id}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="flusso">Flusso</label>
                        <select id="flusso" class="form-control" formControlName="flusso" required  (change)="get_riferimenti()">
                            <option></option>
                            <option *ngFor="let flusso of flussi" label="{{flusso.nome_flusso}}">{{flusso.id}}</option>
                        </select>
                    </div>

                    <div class="form-group" *ngIf="riferimenti_list.length!=0">
                        <label for="id_form_ref">Form di riferimento</label>
                        <select class="form-control" formControlName="id_form_ref">
                            <option  [value]=""></option>
                            <option *ngFor="let f of riferimenti_list" [value]="f.value">{{f.descr}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="header">Messaggio sull'header del tuo form</label>
                        <input formControlName="header" type="text" id="header" class="form-control" required />
                    </div>

                    <div class="form-group">

                        <label for="legenda">Legenda del tuo form</label>
                        <textarea rows="4" class="form-control" formControlName="legenda" required></textarea>
                    </div>
                    <div class="form-group">
                        Scegli l'immagine della testata
                        <br>
                        <div class="row boxthumbs">
                            <div class="col-md-3">
                                <img class="immagine" src="assets/img_portal/img1small.jpg" />
                                &nbsp;
                                <input type="radio" formControlName="immagine" value="img1">
                            </div>

                            <div class="col-md-3">
                                <img class="immagine" src="assets/img_portal/img2small.jpg" />
                                &nbsp;
                                <input type="radio" formControlName="immagine" value="img2">
                            </div>

                            <div class="col-md-3">
                                <img class="immagine" src="assets/img_portal/img3small.jpg" />
                                &nbsp;
                                <input type="radio" formControlName="immagine" value="img3">
                            </div>

                            <div class="col-md-3">
                                <img class="immagine" src="assets/img_portal/img4small.jpg" />
                                &nbsp;
                                <input type="radio" formControlName="immagine" value="img4">
                            </div>

                            <div class="col-md-3">
                                <img class="immagine" src="assets/img_portal/img5small.jpg" />
                                &nbsp;
                                <input type="radio" formControlName="immagine" value="img5">
                            </div>

                            <div class="col-md-3">
                                <img class="immagine" src="assets/img_portal/img6small.jpg" />
                                &nbsp;
                                <input type="radio" formControlName="immagine" value="img6">
                            </div>

                            <div class="col-md-3">
                                <img class="immagine" src="assets/img_portal/img7small.jpg" />
                                &nbsp;
                                <input type="radio" formControlName="immagine" value="img7">
                            </div>

                            <div class="col-md-3">
                                <img class="immagine" src="assets/img_portal/img8small.jpg" />
                                &nbsp;
                                <input type="radio" formControlName="immagine" value="img8">
                            </div>

                        </div>

                    </div>

                    <ng-container formArrayName="fields"
                        *ngFor="let item of form.get('fields')['controls']; let i = index;">
                        <ng-container [formGroupName]="i">
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="campo">Nome Campo</label>
                                    <input formControlName="campo" type="text" id="campo" class="form-control" />
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="tipo">Tipo</label>
                                    <select id="tipo" class="form-control" formControlName="tipo">
                                        <option>Input testo</option>
                                        <option>Select</option>
                                        <option>Data</option>
                                        <option>Si-No</option>
                                        <option>File</option>
                                    </select>
                                </div>
                                
                                <div class="form-group col-md-2">
                                    <label for="obbligatorio">Obbligatorio
                                        <!-- <fa-icon *ngIf="i!=0" [icon]="faMinusSquare" (click)="removeItem(i)">
                                        </fa-icon>&nbsp;
                                        <fa-icon [icon]="faPlusSquare" (click)="addNewItem()">
                                        </fa-icon> -->
                                    </label>
                                    <select id="obbligatorio" class="form-control" formControlName="obbligatorio">
                                        <option value="1">Si</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-2" *ngIf="this.form.get('fields')['controls'][i].controls.tipo.value=='Input testo'">
                                    <label for="validator">Validatore
                                    </label>
                                    <select id="validator" class="form-control" formControlName="validator">
                                        <option value="">---</option>
                                        <option value="CF">CF</option>
                                        <option value="MAIL">E-mail</option>
                                        <option value="NUM">Numerico</option>
                                    </select>
                                </div>

                                <div class="col-md-1">
                                    <button *ngIf="i!=0" mat-icon-button color="primary" type="button"
                                        title="delete item" class="btn_delete_item" (click)="removeItem(i)">
                                        <mat-icon class="icon_delete_item">delete</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <div class="form-row"
                                *ngIf="form.controls.fields.controls[i].controls.tipo.value == 'Select'">
                                <div class="col-md-12">
                                    <mat-form-field class="example-chip-list">
                                        <mat-label>Valori della Select</mat-label>
                                        <mat-chip-list #chipList aria-label="Valori della Select">
                                            <mat-chip *ngFor="let option of options_field[i]" [selectable]="selectable"
                                                [removable]="removable" (removed)="removeOption(i,option)">
                                                {{option}}
                                                <mat-icon matChipRemove *ngIf="removable">cancella</mat-icon>
                                            </mat-chip>
                                            <input placeholder="Aggiungi valore e premi invio o TAB"
                                                [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur"
                                                (matChipInputTokenEnd)="addOption($event,i)">
                                        </mat-chip-list>
                                    </mat-form-field>
                                </div>
                            </div>

                        </ng-container>
                    </ng-container>
                    <div class="row col-md-12">
                        <button mat-icon-button color="accent" type="button" title="new item" class="btn_add_item"
                            (click)="addNewItem()">
                            <mat-icon>add</mat-icon> Aggiungi un campo
                        </button>
                    </div>

                </form>
                <br>
                <div class="center">
                    <button class="btn btn-light" (click)="back();">Indietro</button>&nbsp;
                    <button class="btn btn-success" (click)="Trasmetti();">Registra form e
                        prosegui</button>
                </div>
                <br><br><br><br><br>
            </div>

        </div>
    </div>
</div>