<div class="centraleprocedura">
    <br />
    <!--div *ngIf="isDataLoaded" class="container"-->
    <div [hidden]="!isDataLoaded" class="container">
    
        <div class="formboxpanel">
            <div class="mat-elevation-z8 tabContainer">
                <br><br>
				<mat-label class="col-md-12">Gruppo: {{id_gruppo}}</mat-label>
				<br>
				<div class="col-md-12">
                    <mat-label>Fascicoli selezionati:</mat-label>
                </div>
                <div class="col-md-12 my_chips_wrapper">
					<mat-chip-list aria-label="Fish selection">
						<mat-chip *ngFor="let fascicolo of selectedFascicoli" 
							[selectable]="selectable" 
							[removable]="tipo_op == 'admin' || tipo_op == 'poweruser' || ID == removeControl[fascicolo]"
							(removed)="remove(fascicolo)">
							{{fascicolo}}
							<mat-icon matChipRemove *ngIf="tipo_op == 'admin' || tipo_op == 'poweruser' || ID==removeControl[fascicolo]">cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</div>
    
                <br><br>
    
                <div class="filterContainer col-md-6">
                    <mat-form-field>
                        <mat-label>Cerca</mat-label>
                        <input matInput (keyup)="applyFilter($event)" #input>
                    </mat-form-field>
                </div>
    
                <br>
                <div class="tableContainer">
                    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

                        <ng-container matColumnDef="id" hidden>
                            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                            <mat-cell  data-label="ID:" *matCellDef="let element"> {{element.id}} </mat-cell>
                        </ng-container>
        

                        <ng-container matColumnDef="nome">
                            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                            <mat-cell  data-label="Nome:" *matCellDef="let element"> {{element.nome}} </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="id_fascicolo_padre">
                            <mat-header-cell *matHeaderCellDef> Contenuto in </mat-header-cell>
                            <mat-cell  data-label="Contenuto in:" *matCellDef="let element"> {{element.id_fascicolo_padre}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="azienda">
                            <mat-header-cell *matHeaderCellDef> Azienda </mat-header-cell>
                            <mat-cell  data-label="Azienda:" *matCellDef="let element">{{element.nome_azienda}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="accesso">
                            <mat-header-cell *matHeaderCellDef> Accesso </mat-header-cell>
                            <mat-cell  data-label="Accesso:" *matCellDef="let element">{{element.accesso}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="pubblicato">
                            <mat-header-cell *matHeaderCellDef> Pubblicato </mat-header-cell>
                            <mat-cell  data-label="Pubblicato:" *matCellDef="let element">{{element.pubblicato}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="azione">
                            <mat-header-cell *matHeaderCellDef> Seleziona </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                    <mat-checkbox class="row checkbox_el"  [(ngModel)]="element.selected" [ngModelOptions]="{standalone: true}"
                                        (change)="selectFascicolo($event.checked,element.id,element.nome,element.id_operatore)">
                                    </mat-checkbox>
                               
                            </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                        <mat-row [ngClass]="{'delete_item': row.selected}" *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

                    </table>
                </div>

                <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
               
                <br><br>
                <button mat-button class="btn btn-success center" (click)="trasmetti()">Salva 
                </button>
                
            </div>
           
        </div>
    </div>
</div>

<br><br><br>

<div *ngIf="loading" class="loadingspinner_container">
    <img class="loadingspinner" src="../assets/img/loadingspinner.gif">
</div>

<div class="footer_pages">
    <img src='assets/img/logo_aleph_medium.png'>
</div>
