.chip-list {
    width: 100%;
  }
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  

  .accordion {
    background-color: rgb(235, 235, 134);
      }

  .done {
     color:rgb(124, 122, 122);
      }


      .MobileContent {

        display:block;
        text-align: "center";
   
    }
   
   @media screen and (max-width: 768px) {
   
    .MobileContent {
    
        display: none;
        text-align:center;
    }
   
   }

   .step_icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    color:white;
    display:inline-block;
   }
   .step_on{
    background: #3f51b5;
   }
   .step_off{
    background: rgb(122, 122, 122);
   }

   .line-wrapper{
    width: 12vw;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
   }

   hr{
     border-color:rgb(122, 122, 122);
   }