<div class="centraleworkflow">
  <br />
  <div class="container">
    <div class="formboxpanel">


      <mat-accordion class="accordion">
        <mat-expansion-panel class="accordion" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons">
                support_agent
              </span>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Adesso dobbiamo scegliere i documenti che comporranno il flusso selezionato. Usa il campo di ricerca
            contestuale per cercare il documento da aggiungere.
            E' sufficiente digitare parte della sua descrizione per vederlo apparire nella tendina sottostante. Per
            aggiungere la tipologia documentale desiderata, clicca
            sulla sua descrizione. Per rimuoverla dall'elenco clicca invece sulla x a destra della sua casella.
          </p>
        </mat-expansion-panel>
      </mat-accordion>

      <br />


      <div class="chip-list">
        <div class="MobileContent">
          <mat-label class="done">
            <div class="step_icon step_off">1</div> Scegli il flusso &nbsp;<div class="line-wrapper"><hr></div>&nbsp;
          </mat-label>&nbsp;
          <div class="step_icon step_on">2</div> Scegli i documenti
         &nbsp;<div class="line-wrapper"><hr></div>&nbsp;
          <mat-label class="done">
            <div class="step_icon step_off">3</div> Scegli i form
          </mat-label>
          &nbsp;<div class="line-wrapper"><hr></div>&nbsp;
          <mat-label class="done">
            <div class="step_icon step_off">4</div> Workflow
          </mat-label>
          &nbsp;<div class="line-wrapper"><hr></div>&nbsp;
          <mat-label class="done">
            <div class="step_icon step_off">5</div> Termina
          </mat-label>
        </div>
        <br />
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

        <br /><br /><br />
        <mat-chip-list #chipList aria-label="doc selection">
          <mat-chip *ngFor="let doc of docs" [selectable]="selectable" [removable]="removable" (removed)="remove(doc)"
            (removed)="SetControl()">
            {{doc}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Cerca documento..." #docInput [formControl]="docCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" class="form-control">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" (optionSelected)="SetControl()">
          <mat-option *ngFor="let doc of filtereddocs | async" [value]="doc">
            {{doc}}
          </mat-option>
        </mat-autocomplete>

        <br />

        <button mat-button [disabled]="update==1" class="btn btn-warning" [routerLink]="['/flussiselect']">
          <span class="material-icons">arrow_back</span>
          Vai alla fase 1
        </button>&nbsp;

        <button mat-button class="btn btn-success" [routerLink]="['/formsselect']"
          [queryParams]="{docs:docs, flusso:flusso, update:update}" [disabled]="valido!=''">
          Vai alla fase 3
          <span class="material-icons">arrow_forward</span>
        </button>&nbsp;


      </div>

      <br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>

<div class="footer_pages">
  <img src='assets/img/logo_aleph_medium.png'>
</div>