<br />
<button type="button" class="btn btn-success" [routerLink]="['/addazienda']" >AGGIUNGI nuova azienda</button> &nbsp;
<br /><br /><br />
<table class="table table-striped table-bordered table-sm row-border hover" id="aziende" style="overflow: auto; width: 100%">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sede</th>
        <th>PIVA</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let group of data">
           <td>{{group.nome}}</td>
           <td>{{group.sede}}</td>
           <td>{{group.piva}}</td>
           <td><button type="button" class="btn btn-primary" [routerLink]="['/aziendaview']" [queryParams]="{id:group.id}"><fa-icon [icon]="faEye"></fa-icon></button> &nbsp;
            <button type="button" class="btn btn-success" [routerLink]="['/aziendaedit']" [queryParams]="{id:group.id}"><fa-icon [icon]="faEdit"></fa-icon></button> &nbsp;
            <button type="button" class="btn btn-danger" (click)="cancella(group.id, group.nome);"><fa-icon [icon]="faTrash"></fa-icon></button>
           </td>

       </tr>
    </tbody>
  </table>
<div class="footer_table_container">
  <video autoplay muted loop id="VideoFooter" class="video-container_footer_table">
    <source src="assets/video/footer.mp4" type="video/mp4">
  </video>
</div>

<div class="footer_small">
<img src="assets/img/logo_aleph_very_small.png" alt="logo aleph"/>
  </div>
<div class="footer_table">
  <h1>Aleph</h1>
  <p> <img src='assets/img/logo_aleph_medium.png'></p>
  </div>