<div class="protobg">
    <br />
  <div class="container">

<app-sidenav 
[id_user] = "id_user" 
[mode] = "mode"  
[open] = "open"
(menuItemSelection)="test_event($event)"
(fullStateEvent)="full_state_event($event)">
</app-sidenav>
<div class="formbox">
<div class="centralescanner">
    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="" role="tab" aria-controls="home" aria-selected="false"><mat-icon>scanner</mat-icon> &nbsp;ACQUISIZIONE DOCUMENTO</a>
        </li>
    </ul>
    <br>
    <mat-icon>scanner</mat-icon>
Seleziona lo scanner per avviare l'acquisizione<br /><br />
        <div class="col-md-12 example-button-container">
            <button mat-fab color="accent" (click)="scanImage()">
                <mat-icon>scanner</mat-icon>
            </button>
    
            &nbsp;
    
            <button *ngIf="storedFiles.length != 0" mat-fab color="primary" (click)="submit()">
                <mat-icon>send</mat-icon>
            </button>
    
            &nbsp;
            
        </div>
    
        <br>
        <div class="container">
            <div class="formboxpanel">
                <div class="row file_conteiner">
                    <div *ngFor="let el of storedFiles, let i = index" class="col-sm-4 text-center">
                        <div class="right">
                            <mat-icon class="delete_el" (click)="deleteElFromList(i)">close</mat-icon>
                        </div>
                        <img [src]="el.src" [data-file]="el.name" class='selFile' title='Clicca per eliminare'><br />
                    </div>
                </div>
            </div>
        </div>
    
        <div class="scandetail" [hidden]="!scandetail_show">
    
    
            <div style="max-height:1200px;overflow:scroll;">
                <canvas id="myCanvas"></canvas>
            </div>
    
    
        </div>
    
    
    
        <!-- <div class="modal fade dalert" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Connection Failed
                    </div>
                    <div class="modal-body">
                        No Scan app application found in your machine please download,install and open first then refresh
                        the
                        browser.
    
                        prova commit
                        <a href="~/SrcFile/Scan_App_SetUp.msi" download>Download Files</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
         </div>
    </div>
</div>