<div class="centraleworkflow">
    <br /><br />
    <div class="container">
        <div class="formboxpanel">

            <div>
                <!--  <i class="fa fa-2x">
                <fa-icon [icon]="faNetworkWired"></fa-icon>
            </i> -->
                <span class="material-icons">
                    people
                </span>
                &nbsp;&nbsp;Flusso: {{nome_flusso}}
            </div>

            <br /><br />

            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="" role="tab" aria-controls="home"
                        aria-selected="false">
                        Gruppo di Lavoro
                    </a>
                </li>
            </ul><br>

            <button mat-button class="btn btn-back" (click)="back()">
                <span class="material-icons">
                    arrow_back
                </span>
            </button>

            <br /><br />

            <div class="mat-elevation-z8 tabContainer">
                <br><br>

                <div *ngIf="type == 'Form'">
                    <section class="col-md-12 col-sm-12">
                        <mat-checkbox class="public_check" [(ngModel)]="public">Rendi il form
                            <b>pubblico</b></mat-checkbox>
                    </section>
                    <br>
                </div>

                <div *ngIf="!public">
                    <div>

                        <div class="col-md-12">
                            <mat-label>Operatori selezionati:</mat-label>
                        </div>
                        <div class="col-md-12 my_chips_wrapper">
                            <mat-chip-list aria-label="Fish selection">
                                <mat-chip *ngFor="let operator of selectedOperators" [selectable]="selectable"
                                    [removable]="true" (removed)="remove(operator)">
                                    {{operator}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </div>

                        <br><br>

                        <div class="col-md-6 col-sm-12">
                            <mat-label>Azienda</mat-label>
                            <input matInput type="text" name="azienda" placeholder="Cerca l'azienda per nome"
                                [formControl]="azienda" [matAutocomplete]="autoAzienda" class="form-control"
                                aria-readonly="true" (keydown)="ControlAzienda(0,'')">
                            <mat-autocomplete #autoAzienda="matAutocomplete">
                                <mat-option *ngFor="let azienda of filteredAziende | async" [value]="azienda"
                                    (click)="ControlAzienda(1,azienda)">
                                    {{azienda.split("*")[0]}}
                                </mat-option>
                            </mat-autocomplete><br />
                        </div>

                        <div class="col-md-6 col-sm-12" *ngIf="showStrutture">
                            <mat-label>Struttura</mat-label>
                            <input matInput type="text" name="struttura" placeholder="Cerca la struttura per nome"
                                [formControl]="struttura" [matAutocomplete]="autoStruttura" class="form-control"
                                aria-readonly="true" (keydown)="ControlStruttura(0,'')">
                            <mat-autocomplete #autoStruttura="matAutocomplete">
                                <mat-option *ngFor="let struttura of filteredStrutture | async" [value]="struttura"
                                    (click)="ControlStruttura(1,struttura)">
                                    {{struttura.split("*")[0]}}
                                </mat-option>
                            </mat-autocomplete><br />
                        </div>


                    </div>

                    <div class="filterContainer col-md-6">
                        <mat-form-field>
                            <mat-label>Filtra operatore</mat-label>
                            <input matInput (keyup)="applyFilter($event)" #input>
                        </mat-form-field>
                    </div>

                    <br>
                    <div class="tableContainer">
                        <table mat-table [dataSource]="operatori" multiTemplateDataRows matSort>

                            <ng-container matColumnDef="cognome">
                                <mat-header-cell *matHeaderCellDef> Cognome </mat-header-cell>
                                <mat-cell data-label="Cognome:" *matCellDef="let element">{{element.cognome}}
                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="nome">
                                <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                                <mat-cell data-label="Nome:" *matCellDef="let element"> {{element.nome}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="codfisc">
                                <mat-header-cell *matHeaderCellDef> CF </mat-header-cell>
                                <mat-cell data-label="CF:" *matCellDef="let element"> {{element.CF}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="profilo">
                                <mat-header-cell *matHeaderCellDef> Profilo </mat-header-cell>
                                <mat-cell data-label="Profilo:" *matCellDef="let element"> {{element.profilo}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="azione">
                                <mat-header-cell *matHeaderCellDef> Seleziona </mat-header-cell>
                                <mat-cell *matCellDef="let element">

                                    <mat-form-field appearance="fill">
                                        <mat-label>Privilegi</mat-label>
                                        <mat-select #input [disabled]="element.selected"
                                            [value]="element.selected ? element.privilegi : ''">
                                            <mat-option value=1>(1) Lettura</mat-option>
                                            <mat-option value=2>(2) Scrittura</mat-option>
                                            <mat-option default value=3>(3) Modifica</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <br><br>
                                    <mat-checkbox class="my_checkbox" [(ngModel)]="element.selected"
                                        [ngModelOptions]="{standalone: true}"
                                        [disabled]="element.privilegi==1 || element.privilegi==2 || element.privilegi==3"
                                        (change)="selectOperator($event.checked,element.id,element.nome,element.cognome,input.value)">
                                    </mat-checkbox>

                                </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                            <mat-row [ngClass]="{'delete_item': row.selected}"
                                *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

                        </table>
                    </div>

                    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

                    <!-- form firma -->
                    <form [formGroup]="form" class="col-md-12 col-sm-12" *ngIf="type == 'Documento'">

                        <div class="form-group">
                            <mat-label for="firma">Richiedi la firma del gruppo</mat-label>
                            <select id="firma" class="form-control" formControlName="firma" required>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                        <div *ngIf="form.controls.firma.value==1 || req_firma">

                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Filtra operatore</mat-label>
                                    <input #inputOp matInput placeholder="Nome Cognome" formControlName="findOp">
                                </mat-form-field>
                            </div>

                            <div class="example-container">
                                <div class="labContainer">
                                    <mat-label>Operatori Gruppo</mat-label>
                                </div>
                                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
                                    [cdkDropListConnectedTo]="[doneList]" class="example-list todo_list"
                                    (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" *ngFor="let item of filtra_op(inputOp)" cdkDrag
                                        [cdkDragData]="item" (mousedown)="enter(item)">{{item.nome}}
                                        {{item.cognome}}</div>
                                </div>
                            </div>

                            <div class="example-container">

                                <div class="labContainer">
                                    <mat-label>Firmatari</mat-label>
                                    <div class="row">

                                        <mat-checkbox class="example-margin col-md-4" [(ngModel)]="controlAllGroup"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="selectAll($event.checked)">Tutti
                                            gli operatori</mat-checkbox>
                                        <mat-checkbox class="right example-margin col-md-4" [(ngModel)]="controlOrder"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="toOrder($event.checked)">Rispetta l'ordine</mat-checkbox>
                                        <mat-checkbox class="right example-margin col-md-4"
                                            [(ngModel)]="controlAtLeastOne" [ngModelOptions]="{standalone: true}"
                                            (change)="atLeastOne($event.checked)">Basta una firma</mat-checkbox>

                                    </div>
                                </div>

                                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
                                    [cdkDropListConnectedTo]="[todoList]" class="example-list col-md-12 done_list"
                                    (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" *ngFor="let item of done" cdkDrag [cdkDragData]="item"
                                        (mousedown)="enter(item)">{{item.nome}}
                                        {{item.cognome}}</div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <br><br>
                <div class="col-md-12 center">
                    <button class="btn btn-success" (click)="trasmetti()">Salva
                    </button>
                </div>
                <br><br>

            </div>

            <!-- <app-aleph-table 
                    [tableData]="operatori" [tableColumns]="customersTableColumns" [listActions]="listActions"
                    tableCase="general"
                    [isFilterable]="true"
                    [isPageable]="true"
                    [paginationSizes]="[5,10]"
                    [defaultPageSize]="5"
        ></app-aleph-table> -->
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
</div>