.formboxpanel {
  height:80vh;
}
table {
    width: 100%;
  }

.mat-dialog-container{
    height: auto;
    overflow: auto;
}

.downloadAttachment{
  text-decoration: underline;
  color:cornflowerblue;
}

.loadingspinner_container{
  width: 100%;
  position: absolute;
  top:30%;
  text-align: center;
}

.loadingspinner{
 margin:auto;
}

/************************/

table {
  width: 100%;
  
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: content;
}


.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.material-icons-att{
color:cornflowerblue;
transform: rotateZ(270deg);
}

.attachDivider{
  color:lightgray;
}

.attachTitle{
color:darkgray;
}

.attachIcon{
  width: 60px;
  cursor: pointer;
}

.attachName{
  width:100%;
  overflow-x: auto;
}

.attachDiv{
  display:inline-block;
  width:100%;
  margin-right: 50px;
}

tr.example-element-row{
  background-color: #fafafab3;
  cursor: pointer;
}

tr.example-element-row:even{
  background-color:aliceblue;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mailContainer,.senderContainer{
	margin-left: 15px;
	margin-right: 15px;
	background-color:white;
}
.filterContainer{
	margin-left: 15px;
	padding-right:15px;
	width:100%;
}

input{
	color:black;
  margin-right:15px;
}

.btn-primary{
  margin-left:15px;
}

.formContainer{
  padding: 50px;
}

.example-chip-list {
  width: 100%;
}

.my-textarea{
  min-height: 250px;
  color: black;
}

.material-icon-delete{
  color:orangered;
}

.list-container{
 border-left: azure;
 border-left: solid;
 color: #000000b0;
}

.row,.btn-sender{
  margin-left: 15px;
}

.send_icon{
  background-color: lightseagreen;
}

.right{
  text-align: right;
}

.close-icon{
  color: #dc3545;
  cursor: pointer;
}

.refresh_icon{
  cursor: pointer;

}
.white_input{
  color: white;
}
.container{
  max-width: 100%;
  max-height: 100%;
}

.btn-turquoise{
  background:#0ea596;
  color: white;
}