.container{
    height: 100%;
    width: 100%;
}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.05);
    border-radius: 0;
    border: 0;
  }
  
  .panel-dark.panel-colorful {
    background-color: #3b4146;
    border-color: #3b4146;
    color: #fff;
    margin: auto;
    max-width: 250px;
  }
  
  .panel-danger.panel-colorful {
    background-color: #f76c51;
    border-color: #f76c51;
    color: #fff;
    margin: auto;
    max-width: 250px;
  }

  .panel-danger.panel-colorful.disabled {
    background-color: #ecd2cd;
    border-color: #5f5f5f;
    color: rgb(241 145 145);
    margin: auto;
    max-width: 250px;
    cursor: no-drop;
  }

  .panel-default.panel-colorful {
      color: #e9ecef;
      margin: auto;
      max-width: 250px;
  }

  .panel-default.panel-colorful.disabled {
      color:#dee2e66e;
      margin: auto;
      max-width: 250px;
  }
   
  .panel-body {
    padding: 25px 20px;
  }

  .btn-danger[disabled]{
    cursor: no-drop;
  }

  .btn-outline-secondary{
    color:white;
  }

  .formboxpanel{
    width: 60vw;
    max-width: 500px;
    margin:auto;
    padding: 5%;
  }
  
  .panel hr {
    border-color: rgba(0,0,0,0.1);
  }
  
  .mar-btm {
    margin-bottom: 15px;
  }

  ::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}