.example-ripple-container {
    cursor: pointer;
    text-align: center;
    background-color:#386387f2;
    color:white;
    width: 252px;
    height: auto;
    display: inline-grid;
    margin-bottom:10px;
    margin-left:10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    padding-top: 5vh;
  }
  
  .ripple_container{
    /*background-color:rgba(0, 0, 0, 0.5);*/
    /* margin-right:50px;
    margin-left:50px; */
    text-align: center;
    
  }
  
  .centraleoperativita{
    overflow-y: auto;
  }
  
  .rightText{
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
  }
  
  .leftText{
    text-align: left;
    padding-left: 10px;
    opacity: 0.5;
  }
  
  .customOpacity{
    opacity: 0.5;
  }
  
  h5{
    font-size: 1.25rem;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
    margin: .5rem;
    height: 50px;
  }

  .logo_form{
      width: 100%;
  }

  .nodata_mex{
    color: white;
}