<br /> <br /><br /> 
<div class="ripple_container" [style.marginLeft]="marginLeft">
    <br />
        <div *ngIf="nodata" class="nodata_mex">Nessuna pratica da validare</div>
        <div matRipple *ngFor="let form of data" class=" example-ripple-container mat-elevation-z4"
             [routerLink]="['/workflowpratica']" [queryParams]="{id_pratica:form.id, gruppo:'validazione'}">
             <h5>{{form.nome_pratica.toUpperCase()}}</h5>
             <br>
             <h6>{{form.data_creazione}}</h6>
             <br>
             <p class ="customOpacity">___________</p>
             <h6>Avviata da: {{form.op_cognome}} {{form.op_nome}}</h6>
             <br>
             <p class="leftText"><img src="assets/img/logo_aleph.png" width="30" height="30" alt="Aleph"></p>
        </div>
        <br /> <br />

</div>