<div class="centraleprocedura">
    <div class="container">
      <div class="formboxpanel">

     
    

<p-toast [style]="{marginTop: '80px'}"></p-toast>





<p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
    styleClass="company">
    <ng-template let-node pTemplate="person">
        <div class="node-header p-corner-top">{{node.label}}</div>
        <div class="node-content">
            <div>{{node.data.name}}</div>
        </div>
    </ng-template>
    <ng-template let-node pTemplate="department">
        {{node.label}}
    </ng-template>
</p-organizationChart>

<br  /><br /><br /><br  /><br /><br /><br /><br />
</div></div></div>



  <div class="footer_pages">
    <img src='assets/img/logo_aleph_medium.png'>
         </div>

