.container{
    height: 100%;
    width: 100%;
}
  .example-ripple-container:nth-child(even) {
    background-color:#6495edc4;
  }
  
  /** Styles to make the demo look better. */
  .example-ripple-checkbox {
    margin: 6px 12px 6px 0;
    font-size: small;
    padding-top: 20px;
  }
 
  .mandatoryIcon{
    color:#dc3545;
    vertical-align: middle;
  }

  .milestoneIcon{
    color:blue;
    vertical-align: middle;
  }
  .dynamicFormIcon{
    color:white; 
    position: absolute;
    margin-top: 21px;
    margin-left: -10px;
    vertical-align: middle;
  }

  .center {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .accordion {
    background-color: rgb(235, 235, 134);
      }

  .done {
     color:rgb(124, 122, 122);
      }


      .MobileContent {

        display:block;
        text-align: "center";
   
    }
   
   @media screen and (max-width: 768px) {
   
    .MobileContent {
    
        display: none;
        text-align:center;
    }
   
   }


   .icon-img, .icon-span::before {
    font: normal normal normal 14px/1 "FontAwesome";
    display: inline-block;
    color: #5fa2dd;
  }
  
  .icon-img::before, .icon-span::before {
      font-size: 1em;
      position: relative;
      top: -1px;
  }
  
  img.icon-img { display: none; }

  .right{
    text-align:right;
  }

  .diamond{
      width: 0;
      height: 0;
      border: 40px solid transparent;
      border-bottom-color: orange;
      position: relative;
      top: -40px;
  }
  .diamond:after {
      content: '';
      position: absolute;
      left: -40px;
      top: 40px;
      width: 0;
      height: 0;
      border: 40px solid transparent;
      border-top-color: orange;
  }

  .option{
    font-size:13px;
    font-style: italic;
  }

  .head{
    font-weight:500;
  }

  .showLegend{
    cursor:pointer;
  }

.diamondLegend{
    border: 15px solid transparent;
    border-bottom-color: orange;
    width: 0;
    height: 0;
    position: relative;
    top: -15px;
    margin-top: 5px;
    vertical-align: bottom;
}
.diamondLegend:after {   
    left: -15px;
    top: 15px;  
    border: 15px solid transparent;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top-color: orange;
}
.dynamicFormIconLegend{
  font-size:15px;
  margin-top: 9px;
  margin-left: -7px;
  z-index: 1;
}

hr.divLegend{
  background-color: #ffffff4d;
}

.btn_icon{
    font-size: 40px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.btn-back.btn-back:hover,.btn-back:active,.btn-back:focus{
  border: hidden;
  outline:0;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.685);
}
.btn-back{
  margin-left: -15px!important;
  border: hidden;
  background-color: transparent;
  min-width:50px; 
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
.card-style {
  background-color: rgb(3, 100, 132);
  font-size: smaller;
  color:white;
  }

  .card-style-child {
    background-color: rgb(81, 156, 115);
    font-size: smaller;
    color:white;
    }

    .selected {
      background-color: yellow;
    }

  mat-slider {
    width: 300px;
  }


  
