<div class="centralerubrica">
    <br />
    <div class="container">
        <div class="formboxpanel">
            <div class="central">
                <br />
                

                <ul *ngIf="ente=='no'" _ngcontent-ajd-c288="" id="myTab" role="tablist" class="nav nav-tabs mb-4">
                    <li _ngcontent-ajd-c288="" class="nav-item"><a _ngcontent-ajd-c288="" id="home-tab"
                            data-toggle="tab" href="" role="tab" aria-controls="home" aria-selected="false"
                            class="nav-link active">Visualizza persone azienda</a></li>
                </ul>
                <ul *ngIf="ente=='si'" _ngcontent-ajd-c288="" id="myTab" role="tablist" class="nav nav-tabs mb-4">
                    <li _ngcontent-ajd-c288="" class="nav-item"><a _ngcontent-ajd-c288="" id="home-tab"
                            data-toggle="tab" href="" role="tab" aria-controls="home" aria-selected="false"
                            class="nav-link active">Visualizza persone ente pubblico</a></li>
                </ul>
                <form class="my_form" [formGroup]="form">

                    <mat-form-field class="example-full-width" appearance="fill" required>
                        <mat-label>Denominazione</mat-label>
                        <input matInput [(ngModel)]="denominazione"  formControlName="denominazione">
                    </mat-form-field>

                   
                </form>

                <div *ngIf="datapersoneaz" class="sezione"> 
                    <fa-icon [icon]="faIdCard"></fa-icon> Persone<br />
                </div>
                <div *ngFor="let operatore of datapersoneaz" class="sezione">
                        <mat-form-field>
                            <mat-label>Nome</mat-label>
                            <input matInput value={{operatore.nome}}>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Cognome</mat-label>
                            <input matInput value={{operatore.cognome}}>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Codice Fiscale</mat-label>
                            <input matInput value={{operatore.CF}}>
                          </mat-form-field>
                          <div *ngIf="operatore.rappresentante_legale==1">
                            <mat-form-field>
                                <mat-label>Rappresentante Legale</mat-label>
                                <input matInput value="si">
                              </mat-form-field><br />
                            </div>&nbsp;
                            <button type="button" class="btn btn-primary"
                              (click)="viewPersona(operatore.id)">
                              <fa-icon [icon]="faEye"></fa-icon>
                              </button>&nbsp;
                              <button type="button" class="btn btn-success"
                              (click)="editPersona(operatore.id)">
                              <fa-icon [icon]="faEdit"></fa-icon>
                              </button>   
                              &nbsp;
                              <button type="button" class="btn btn-danger"
                              (click)="deletePersona(operatore.id, operatore.nome, operatore.cognome)">
                              <fa-icon [icon]="faTrash"></fa-icon>
                              </button>   
                            <br />
                </div>
                <div *ngIf="datapersoneaz" class="sezione"> 
                    <hr class="separatore" />  
                </div>
                <div *ngFor="let struttura of datastrutture">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title><fa-icon [icon]="faBuilding"></fa-icon> &nbsp;
                        <strong>{{struttura.nome}}</strong>
                      </mat-panel-title>
                      <mat-panel-description>
                         {{panelOpenState ? 'chiudi il dettaglio' : 'apri il dettaglio'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                      <div *ngIf="allpersonest">
                        <hr class="separatore" />  
                    </div>
                      <div *ngFor="let persona of allpersonest">
                        <span *ngIf="persona.id_struttura==struttura.id">
                            <fa-icon [icon]="faIdCard"></fa-icon>  Persona<br />   
                            <mat-form-field>
                                <mat-label>Nome</mat-label>
                                <input matInput value={{persona.nome}}>
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Cognome</mat-label>
                                <input matInput value={{persona.cognome}}>
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Codice Fiscale</mat-label>
                                <input matInput value={{persona.CF}}>
                              </mat-form-field>  &nbsp;<button type="button" class="btn btn-primary"
                              (click)="viewPersona(persona.id)">
                              <fa-icon [icon]="faEye"></fa-icon>
                              </button>       
                              &nbsp;
                              <button type="button" class="btn btn-success"
                              (click)="editPersona(persona.id)">
                              <fa-icon [icon]="faEdit"></fa-icon>
                              </button>   
                              &nbsp;
                              <button type="button" class="btn btn-danger"
                              (click)="deletePersona(persona.id, persona.nome, persona.cognome)">
                              <fa-icon [icon]="faTrash"></fa-icon>
                              </button>   
                    </span>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <br />
            </div>
                <button _ngcontent-ajd-c474="" (click)="back();" class="btn btn-gray">Indietro</button>&nbsp;
               
                <br /><br />


            </div>
        </div>
    </div>
</div>


<div class="footer_pages">
    <img src='assets/img/logo_aleph_medium.png'>
    </div>